<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.ExtendReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Dhivya/SeleniumProjects/APITestingFramework/src/test/java/tests">
        <classes>
            <!--<class name="tests.UserDataDrivenTesting">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>-->
           <class name="tests.UserTest">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUser"/>
                    <include name="testUpdateUser"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>